spring:
  h2:
    console:
      enabled: true
      path: /h2
  datasource:
    url: jdbc:h2:mem:test
  sql:
    init:
      mode: always
      data-locations: classpath*:db/h2/data.sql

  jpa:
    hibernate:
      ddl-auto: create  # If deploy server, have to change please
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    defer-datasource-initialization: true

